

<div class="mt">
    <h1>{{.Titulo}} {{$.UsuarioComplete.Nombre}}</h1>
    <ul class="clearfix valign">
        <a class="back icn r1" title="Mis Cotizaciones" onclick="backurl()"></a>
    </ul>
</div>
<hr>
<div class="i">
    <div class="fc" id="info-0">
        <div class="fct">
            <h1>{{.SubTitulo}}</h1>
            <h2>{{.SubTitulo2}}</h2>
            <ul class="clearfix valign"></ul>
        </div>
        <div class="delete_user">

            {{if eq .UsuarioComplete.Tipo 3}}
            <div class="bloque">
                <div class="bloque_titulo">Prestamos</div>
                <div class="bloque_lista">
                {{if .UsuarioComplete.Prestamos}}
                    {{range .UsuarioComplete.Prestamos}}
                        <div class="lista_opcion">- {{.Nombre}}</div>
                    {{end}}
                {{else}}
                    <div class="lista_opcion">No hay prestamos</div>
                {{end}}
                </div>
            </div>
            {{end}}

            {{if eq .UsuarioComplete.Tipo 3}}
            <div class="bloque">
                <div class="bloque_titulo">Curso</div>
                <div class="bloque_lista">
                {{if .UsuarioComplete.Cursos}}
                    {{range .UsuarioComplete.Cursos}}
                        <div class="lista_opcion">- {{.Nombre}}</div>
                    {{end}}
                {{else}}
                    <div class="lista_opcion">No tiene cursos</div>
                {{end}}
                </div>
            </div>
            {{end}}

            <div class="bloque">
                <div class="bloque_titulo">Parentesco</div>
                <div class="bloque_lista">
                {{if .UsuarioComplete.Parentesco}}
                    {{range .UsuarioComplete.Parentesco}}
                        <div class="lista_opcion">- {{.Nombre}}</div>
                    {{end}}
                {{else}}
                    <div class="lista_opcion">No hay Parentesco</div>
                {{end}}
                </div>
            </div>
        </div>
        <div style="display: block;"><a class="btn_eliminar" onclick="eliminar('{{$.DelAccion}}', '{{$.FormId}}/{{$.UsuarioComplete.Tipo}}', '{{$.DelObj}}', '{{$.UsuarioComplete.Nombre}}')">Eliminar</a>
    </div>
    </div>
</div>