

<div class="mt">
    <h1>{{.Titulo}}</h1>
    <ul class="clearfix valign">
        <a class="back icn r1" title="Mis Cotizaciones" onclick="backurl()"></a>
    </ul>
</div>
<hr>
<div class="i">
    <div class="fc" id="info-0">
        <div class="fct">
            <h1>{{.SubTitulo}}</h1>
            <h2>{{.SubTitulo2}}</h2>
            <ul class="clearfix valign"></ul>
        </div>
        <div class="delete_user">
            <div class="bloque">
                <div class="bloque_titulo">Alumnos</div>
                <div class="bloque_lista">
                {{if .Lista}}
                    {{range .Lista}}
                        <div class="lista_opcion">- {{.Nombre}}</div>
                    {{end}}
                {{else}}
                    <div class="lista_opcion">No hay Alumnos</div>
                {{end}}
                </div>
            </div>
        </div>
        <div style="display: block;"><a class="btn_eliminar" onclick="eliminar('{{$.DelAccion}}', {{$.FormId}}, '{{$.DelObj}}', '{{$.UsuarioComplete.Nombre}}')">Eliminar</a>
    </div>
    </div>
</div>