

<div class="mt">
    <h1>{{.Titulo}}</h1>
    <ul class="clearfix valign">
        <a class="back icn r1" title="Mis Cotizaciones" onclick="backurl()"></a>
    </ul>
</div>
<hr>
<div class="i">
    <div class="fc" id="info-0">
        <div class="fct">
            <h1>{{.SubTitulo}}</h1>
            <h2>{{.SubTitulo2}}</h2>
            <ul class="clearfix valign">
                {{if eq .UsuarioTipo 3}}
                <li class="icn ic3"><a title="Padres" onclick="openwn('/pages/resumenAlumnos1', 1320, 650)"></a></li>
                <li class="icn ic3"><a title="Padres" onclick="openwn('/pages/resumenAlumnos2', 1320, 650)"></a></li>
                {{end}}
                {{if ne .FormId 0}}
                    {{if eq .UsuarioTipo 3}}
                        <li class="icn ic3"><a title="Padres" onclick="navlink('/pages/verPadres?id={{.FormId}}')"></a></li>
                    {{end}}
                {{end}}
            </ul>
        </div>
        <form action="" method="post" class="basic-grey">
            <fieldset>
                <input id="id" type="hidden" value="{{.FormId}}" />
                <input id="tipo" type="hidden" value="{{.UsuarioTipo}}" />
                <input id="accion" type="hidden" value="{{.FormAccion}}" />
                {{if eq .UsuarioTipo 3}}
                <label>
                    <span>N° de Matricula:</span>
                    <input id="nmatricula" type="text" value="{{.Usuario.Nmatricula}}" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                {{end}}
                {{if eq .UsuarioTipo 3}}
                <label>
                    <span>Rut:</span>
                    <input id="rut" type="text" value="{{.Usuario.Rut}}" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                {{end}}
                {{if or (eq .UsuarioTipo 1) (eq .UsuarioTipo 2) (eq .UsuarioTipo 3)}}
                <label>
                    <span>Nombre:</span>
                    <input id="nombre" type="text" value="{{.Usuario.Nombre}}" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                {{end}}
                {{if or (eq .UsuarioTipo 1) (eq .UsuarioTipo 2)}}
                <label>
                    <span>Correo:</span>
                    <input id="correo" type="text" value="{{.Usuario.Correo}}" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                {{end}}
                {{if or (eq .UsuarioTipo 1) (eq .UsuarioTipo 2)}}
                <label>
                    <span>Telefono:</span>
                    <input id="telefono" type="text" value="{{.Usuario.Telefono}}" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                {{end}}
                {{if eq .UsuarioTipo 3}}
                <label>
                    <span>1er Apellido:</span>
                    <input id="apellido1" type="text" value="{{.Usuario.Apellido1}}" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                {{end}}
                {{if eq .UsuarioTipo 3}}
                <label>
                    <span>2do Apellido:</span>
                    <input id="apellido2" type="text" value="{{.Usuario.Apellido2}}" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                {{end}}
                {{if or (eq .UsuarioTipo 2) (eq .UsuarioTipo 3)}}
                <label>
                    <span>Genero:</span>
                    <select id="genero">
                        <option value="0" {{if eq .Usuario.Genero 0}}selected{{end}}>Seleccionar</option>
                        <option value="1" {{if eq .Usuario.Genero 1}}selected{{end}}>Masculino</option>
                        <option value="2" {{if eq .Usuario.Genero 2}}selected{{end}}>Femenino</option>
                    </select>
                    <div class="mensaje"></div>
                </label>
                {{end}}
                {{if eq .UsuarioTipo 3}}
                <label>
                    <span>Recibí reglamento:</span>
                    <select id="reglamento">
                        <option value="0" {{if eq .Usuario.Reglamento 0}}selected{{end}}>Seleccionar</option>
                        <option value="1" {{if eq .Usuario.Reglamento 1}}selected{{end}}>Si</option>
                        <option value="2" {{if eq .Usuario.Reglamento 2}}selected{{end}}>No</option>
                    </select>
                    <div class="mensaje"></div>
                </label>
                {{end}}
                {{if eq .UsuarioTipo 3}}
                <label>
                    <span>Fecha Nacimiento:</span>
                    <input id="fecha_nacimiento" type="date" value="{{.Usuario.FechaNacimiento}}" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                {{end}}
                {{if eq .UsuarioTipo 3}}
                <label>
                    <span>Fecha Matricula:</span>
                    <input id="fecha_matricula" type="date" value="{{.Usuario.FechaMatricula}}" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                {{end}}
                {{if eq .UsuarioTipo 3}}
                <label>
                    <span>Fecha Ingreso:</span>
                    <input id="fecha_ingreso" type="date" value="{{.Usuario.FechaIngreso}}" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                {{end}}
                {{if eq .UsuarioTipo 3}}
                <label>
                    <span>Direccion:</span>
                    <input id="direccion" type="text" value="{{.Usuario.Direccion}}" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                {{end}}
                {{if eq .UsuarioTipo 3}}
                <label>
                    <span>Fecha Retiro:</span>
                    <input id="fecha_retiro" type="date" value="{{.Usuario.FechaRetiro}}" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                {{end}}
                {{if eq .UsuarioTipo 3}}
                <label>
                    <span>Motivo Retiro:</span>
                    <select id="motivo_retiro">
                        <option value="0" {{if eq .Usuario.MotivoRetiro 0}}selected{{end}}>Seleccionar</option>
                        <option value="1" {{if eq .Usuario.MotivoRetiro 1}}selected{{end}}>Si</option>
                        <option value="2" {{if eq .Usuario.MotivoRetiro 2}}selected{{end}}>No</option>
                    </select>
                    <div class="mensaje"></div>
                </label>
                {{end}}
                {{if eq .UsuarioTipo 3}}
                <label>
                    <span>Observaciones:</span>
                    <textarea id="observaciones">{{.Usuario.Observaciones}}</textarea>
                    <div class="mensaje"></div>
                </label>
                {{end}}
                {{if eq .UsuarioTipo 3}}
                <label>
                    <span>Cursos:</span>
                    <select id="curso">
                        <option value="0" {{if eq .Usuario.Id_cur 0}}selected{{end}}>Seleccionar</option>
                        {{range .Cursos}}
                        <option value="{{.Id}}" {{if eq .Id $.Usuario.Id_cur}}selected{{end}}>{{.Nombre}}</option>
                        {{end}}
                    </select>
                    <div class="mensaje"></div>
                </label>
                {{end}}
                <div>
                    <input type="button" onclick="fm(this)" value="Enviar">
                </div>
            </fieldset>
        </form>
    </div>
</div>


{{if .Lista}}
<div class="i">
    <div class="fc" id="info-0">
        <div class="fct">
            <h1>{{.TituloLista}}</h1>
            <ul class="clearfix valign"></ul>
        </div>
        <ul class='lu'>
            {{ range $I, $User := .Lista }}
            <li class="u" rel="{{$User.Id}}">                
                <div class="no">{{$I+1}} - {{$User.Nombre}}</div>
                <div class="btns clearfix valign">
                    {{if eq $.UsuarioTipo 3}}<a title="Eliminar" class="icn del" onclick="navlink('/pages/borrarUsuario?id={{$User.Id}}')"></a>{{end}}
                    {{if eq $.UsuarioTipo 2}}<a title="Eliminar" class="icn del" onclick="navlink('/pages/borrarUsuario?id={{$User.Id}}')"></a>{{end}}
                    {{if eq $.UsuarioTipo 1}}<a title="Eliminar" class="icn del" onclick="eliminar('borrar_educadora', {{$User.Id}}, '{{$.DelObj}}', '{{$User.Nombre}}')"></a>{{end}}
                    {{if eq $.UsuarioTipo 3}}<a title="Padres" class="icn pad" onclick="navlink('/pages/verPadres?id={{$User.Id}}')"></a>{{end}}
                    {{if eq $.UsuarioTipo 1}}<a title="Cursos" class="icn mdl" onclick="navlink('/pages/verCursos?id={{$User.Id}}')"></a>{{end}}
                    {{if eq $.UsuarioTipo 2}}<a title="Alumnos" class="icn pad" onclick="navlink('/pages/verAlumnos?id={{$User.Id}}')"></a>{{end}}
                    <a title="Modificar" class="icn mod" onclick="navlink('{{$.PageMod}}?id={{$User.Id}}&tipo={{$.UsuarioTipo}}')"></a>
                </div>
            </li>
            {{end}}
        </ul>
    </div>
</div>
{{end}}
<br />
<br />