

<div class="mt">
    <h1>{{.Titulo}}</h1>
    <ul class="clearfix valign">
        <a class="back icn r1" title="Mis Cotizaciones" onclick="backurl()"></a>
    </ul>
</div>
<hr>
<div class="i">
    <div class="fc" id="info-0">
        <div class="fct">
            <h1>{{.SubTitulo}}</h1>
            <h2>{{.SubTitulo2}}</h2>
            <ul class="clearfix valign"></ul>
        </div>
        <form action="" method="post" class="basic-grey">
            <fieldset>
                <input id="id" type="hidden" value="{{.FormId}}" />
                <input id="accion" type="hidden" value="{{.FormAccion}}" />
                <label>
                    <span>Madre, Padre, Apoderado:</span>
                    {{if eq .Padre.Id_usr 0}}
                        <select id="id_usr">
                            <option value="0">Seleccionar</option>
                            {{range .Lista}}
                            <option value="{{.Id}}" {{if eq .Id $.Padre.Id_usr}}checked="checked"{{end}}>{{.Nombre}} {{.Apellido1}} {{.Apellido2}}</option>
                            {{end}}
                        </select>
                        <div class="mensaje"></div>
                    {{else}}
                        {{.Padre.Nombre}}
                    {{end}}
                </label>
                <div>
                    <input type="button" onclick="fm(this)" value="Enviar">
                </div>
            </fieldset>
        </form>
    </div>
</div>

{{if .Padres}}
<div class="i">
    <div class="fc" id="info-0">
        <div class="fct">
            <h1>{{.SubTitulo}}</h1>
            <h2>{{.SubTitulo2}}</h2>
            <ul class="clearfix valign"></ul>
        </div>
        <ul class='lu'>
            {{ range $I, $User := .Padres }}
            <li class="u" rel="{{.Id_usr}}">                
                <div class="no">{{$I}} - {{$User.Nombre}}</div>
                <div class="btns clearfix valign">
                    <a title="Eliminar" class="icn del" onclick="eliminar('{{$.DelAccion}}', '{{$User.Id_usr}}/{{$.FormId}}', '{{$.DelObj}}', '{{$User.Nombre}}')"></a>
                </div>
            </li>
            {{end}}
        </ul>
    </div>
</div>
{{end}}
<br />
<br />