

<div class="mt">
    <h1>{{.Titulo}}</h1>
    <ul class="clearfix valign">
        <a class="back icn r1" title="Mis Cotizaciones" onclick="backurl()"></a>
    </ul>
</div>
<hr>
<div class="i">
    <div class="fc" id="info-0">
        <div class="fct">
            <h1>Seleccionar Apoderado</h1>
            <h2>{{.SubTitulo2}}</h2>
            <ul class="clearfix valign"></ul>
        </div>
        <form action="" method="post" class="basic-grey">
            <fieldset>
                <input id="id" type="hidden" value="{{.FormId}}" />
                <input id="id_apo" type="hidden" value="{{.Padre.Id_usr}}" />
                <input id="accion" type="hidden" value="{{.FormAccion}}" />
                <label>
                    <span>Madre, Padre, Apoderado:</span>
                    {{if eq .Padre.Id_usr 0}}
                        <select id="id_usr">
                            <option value="0">Seleccionar</option>
                            {{range .Lista}}
                            <option value="{{.Id}}" {{if eq .Id $.Padre.Id_usr}}checked="checked"{{end}}>{{.Nombre}}</option>
                            {{end}}
                        </select>
                        <div class="mensaje"></div>
                    {{else}}
                        {{.Padre.Nombre}}
                    {{end}}
                </label>
                <label>
                    <span>Apoderado:</span>
                    <input id="apoderado" type="checkbox" {{if eq .Padre.Apoderado 1}}checked="checked"{{end}} />
                    <div class="mensaje"></div>
                </label>
                <div>
                    <input type="button" onclick="fm(this)" value="Enviar">
                </div>
            </fieldset>
        </form>
    </div>
</div>

{{if .Padres}}
<div class="i">
    <div class="fc" id="info-0">
        <div class="fct">
            <h1>{{.Usuario.Nombre}} {{.Usuario.Apellido1}} {{.Usuario.Apellido2}}</h1>
            <h2>Listado de Apoderados</h2>
            <ul class="clearfix valign"></ul>
        </div>
        <ul class='lu'>
            {{range .Padres}}
            <li class="u" rel="{{.Id_usr}}">                
                <div class="no">{{.Nombre}}</div>
                <div class="btns clearfix valign">
                    <a title="Eliminar" class="icn del" onclick="eliminar('{{$.DelAccion}}', '{{$.FormId}}/{{.Id_usr}}', '{{$.DelObj}}', '{{.Nombre}}')"></a>
                    <a title="Modificar" class="icn mod" onclick="navlink('/pages/crearUsuario?id={{.Id_usr}}&tipo=2')"></a>
                </div>
            </li>
            {{end}}
        </ul>
    </div>
</div>
{{end}}
<br />
<br />