<!--
<div class="contmodulos">
    {{if .Register}}
        {{range $I, $Modulo := .Modulos}}
            <a href="/{{$Modulo.Url}}" class="modulos mod{{ len $.Modulos }} mdl{{$I}}">
                <div class="txt valign">{{$Modulo.Titulo}}<br/>{{$Modulo.Text}}</div>
                <div class="img"></div>
            </a>
        {{end}}
    {{end}}
</div>
-->
<div class="background">
    <div class="back1"></div>
    <div class="back2"></div>
</div>
<div class="site">
    <div class="cont_site">
        <div class="a1 halign"><img class="vhalign" src="/img/hada_chica.png" alt="" /></div>
        <div class="a2">
            <div class="a2a">
                <div class="page conozcanos" style="top: 2px">
                    <div class="info infox">
                        <div class="info2">
                            <div class="f25 pt10 pb15">Conózcanos</div>
                            <div class="f14 pb15">Trabajamos desde 1996 comprometidos con la educación inicial</div>
                            <div class="f12">Calefacción Central</div>
                            <div class="f12">Cámaras Web</div>
                            <div class="f12">Estimulación Temprana</div>
                            <div class="f12">Biblioteca Infantil</div>
                            <div class="f12 pb15">Alimentación Completa</div>
                            <ul class="ul1">
                                <li>Atendemos niños y niñas desde los 3 meses hasta los 4 años de edad.</li>
                                <li>Implementamos un proyecto educativo actualizado que responde a las necesidades e intereses de los niños.</li>
                                <li>Nuestro equipo está formado por educadoras profesionales y técnicos comprometidas con su trabajo. Además, cumplen con altos estándares pedagógicos y disciplinares.</li>
                                <li>Tenemos una infraestructura especialmente diseñada para Jardín Infantil y Salas Cunas.</li>
                            </ul>
                            <div class="f14 pt15 pb15">NUESTRA MISIÓN</div>
                            <div class="f13">"En un ambiente seguro, proporcionar estimulación y cuidados a niños y niñas menores de 4 años, privilegiando una Formación de vanguardia que contribuya a integrarlos a un mundo en evolución"</div>
                            <div class="f14 pt15">NUESTRA SELLO</div>
                            <div class="f17 pt15">Acercar a los niños al placer de la lectura</div>
                            <div class="f13 pt15 pb15">"Buscamos desarrollar el goce por la literatura, en los niños, niñas y sus familias transmitiendo el valor de su importancia para la vida y disfrutando con cada actividad o con cada texto escrito"</div>
                            <ul class="ul1 pb15">
                                <li>Contamos con una biblioteca infantil, que incluye literatura y diferentes textos escritos.</li>
                                <li>Tenemos un proyecto educativo que sustenta nuestro quehacer.</li>
                                <li>Los niños participan de actividades diarias, tales como: lectura silenciosa, préstamo de cuentos a la casa, los distintivos de los niños son carátulas de cuentos, entre otros.</li>
                            </ul>
                            <br/>
                        </div>
                    </div>
                    <div class="imagen imagenx imagen1"></div>
                    <div class="imagegradient igradx igradcolx1"></div>
                </div>
                <div class="page propuestaeducativa">
                    <div class="info infox">
                        <div class="info2">
                            <div class="f25 pt10 pb10">Propuesta Educativa</div>
                            <div class="f14 pb15">TRABAJAMOS CON UN MODELO PEDAGOGICO QUE NOS PERMITE:</div>
                            <ul class="ul1">
                                <li>Entregar a los niños y niñas las herramientas necesarias para desarrollar su autonomía.</li>
                                <li>Lograr que obtengan aprendizajes significativos siendo protagonistas de sus aprendizajes a través de actividades concretas.</li>
                                <li>Crear lazos afectivos tanto con sus pares y con adultos, sintiéndose considerado, seguro y respetado.</li>
                                <li>Otorgamos oportunidades de estimulación temprana a niños y niñas que están en salas cunas.</li>
                            </ul>
                            <div class="f14 pt15">Proyectos</div>
                            <div class="f14 pt15 pb10">Para llevar a cabo nuestro trabajo día a día nos organizamos a través de proyectos, algunos de estos son:</div>
                            <ul class="ul1">
                                <li>Proyecto de Autoestima</li>
                                <li>Proyecto de Solidario</li>
                                <li>Proyecto de Medio Ambiente</li>
                                <li>Proyecto de Arte</li>
                                <li>Semana de la Familia</li>
                                <li>Semana de la Amistad</li>
                                <li>Proyecto Chile mi País</li>
                            </ul>
                            <div class="f14 pt15 pb10">NUESTROS OBJETIVOS:</div>
                            <ul class="ul1">
                                <li>Lograr que niños y niñas construyan aprendizajes profundos y de calidad</li>
                                <li>Lograr que niños y niñas sean protagonistas de sus aprendizajes</li>
                                <li>Generar un ambiente que favorezca el juego</li>
                                <li>Favorecer el desarrollo de interacciones adulto-niño, niño-adulto, niño-niño</li>
                                <li>Generar instancias de reunión y conversación entre los padres y los distintos agentes de la comunidad educativa.</li>
                                <li>Involucrar a la familia en el proceso de enseñanza aprendizaje.</li>
                                <li>Entregar estimulación temprana a niños de salas cunas.</li>
                            </ul>
                            <div class="f14 pt15 pb10">Promovemos una educación integral basada en todas las dimensiones:</div>
                            <ul class="ul1 pb10">
                                <li><strong>Dimensión personal:</strong> Promovemos un desarrollo natural, progresivo y sistemático de las capacidades psicomotoras, intelectuales y afectivas, de modo de potenciar todas las áreas.</li>
                                <li><strong>Dimensión social:</strong> Promovemos tanto la inserción de los niños y niñas en el mundo de forma responsable y constructiva, como también respetando las diferencias de los demás.</li>
                                <li><strong>Dimensión ecológica:</strong> Promovemos la toma de conciencia en su relación con la naturaleza y medio ambiente, así como también en el cuidado del planeta.</li>
                                <li><strong>Dimensión valórica:</strong> Promover la participación activa y positiva, a través de actitudes como la tolerancia, el respeto, el autocuidado y la empatía.</li>
                                <li><strong>Dimensión académica:</strong> Promover el desarrollo del pensamiento crítico potenciando la adquisición de contenidos, habilidades y competencias, de acuerdo a las potencialidades y necesidades de cada niño o niña.</li>
                            </ul>
                            <br/>
                        </div>
                    </div>
                    <div class="imagen imagenx imagen2"></div>
                    <div class="imagegradient igradx igradcolx2"></div>
                </div>
                <div class="page horarios">
                    <div class="info infox">
                        <div class="info2">
                            <div class="f25 pt10 pb10">Horarios</div>
                            <div class="f17 pb10">Atendemos niños y niñas desde las 7:30 a las 18:00 hrs.</div>
                            <div class="f14 pb10">Incluye:</div>
                            <div class="f14 pb10">Colación a media mañana, almuerzo, once y colación de la tarde.</div>
                            <div class="f14 pb10">También hay otras jornadas, de acuerdo a las necesidades de las familias.</div>
                            <div class="f19 pt5">Conversemos otras opciones.</div>
                            <div class="f19 pt5">Además atendemos año continuado</div>
                        </div>
                    </div>
                    <div class="imagen imagenx imagen3"></div>
                    <div class="imagegradient igradx igradcolx3"></div>
                </div>
                <div class="page contacto">
                    <div class="form">
                        <div class="formulario">
                            <div class="titulo">Contacto</div>
                            <div class="input"><span>Nombre:</span><input id="nombre" type="text" value=""></div>
                            <div class="input"><span>Correo:</span><input id="correo" type="text" value=""></div>
                            <div class="input"><span>Telefono:</span><input id="telefono" type="text" value=""></div>
                            <div class="input" style="height: 85px"><span>Mensaje:</span><textarea id="mensaje"></textarea></div>
                            <div class="input"><input id="enviar" type="button" value="Enviar"></div>
                            <div class="leyenda pt">Whatsapp +56962856227</div>
                            <div class="leyenda">227589500</div>
                        </div>
                    </div>
                    <div class="mapa"><div id="map"></div></div>
                </div>
                <div class="page page5">
                    <div class="pan visible" id="858">
                        <div class="punto pos_entrada" id="1">Entrar</div>
                        <img class="img" src="/img/vv_visita.jpg" alt="">
                    </div>
                    <div class="pan" id="1206">
                        <div class="punto pos_patio" id="3">Patio</div>
                        <div class="punto pos_biblioteca" id="5">Biblioteca</div>
                        <div class="punto pos_salas" id="2">Salas</div>
                        <div class="punto pos_sala_verde" id="4">Sala Verde (2do Piso)</div>
                        <div class="punto pos_sala_naranja" id="11">Sala Naranja</div>
                        <div class="punto pos_cocina" id="10">Cocina</div>
                        <img class="img" src="/img/vv_visita2.jpg" alt="">
                    </div>
                    <div class="pan" id="928">
                        <div class="punto pos_patio" id="">Sala Amarilla</div>
                        <div class="punto pos_patio" id="">Baño Sala Cuna</div>
                        <div class="punto pos_patio" id="">Baño Jardin</div>
                        <div class="punto pos_patio" id="">Sala Roja</div>
                        <div class="punto pos_patio" id="">Patio Sala Cuna</div>
                        <div class="punto pos_patio" id="">Sala Azul</div>
                        <img class="img" src="/img/vv_visita3.jpg" alt="">
                    </div>
                    <div class="pan" id="1326">
                        <img class="img" src="/img/vv_visita4.jpg" alt="">
                    </div>
                    <div class="pan" id="1568">
                        <img class="img" src="/img/vv_visita5.jpg" alt="">
                    </div>
                    <div class="vvlist_images">
                        <div class="vvimage">
                            <div class="vvimage_grande visible" id="vb01"></div>
                            <div class="vvimage_grande" id="vb02"></div>
                        </div>
                        <div class="vvlista">
                            <div class="vvimage_chica" id="0"><img src="/img/vv_biblioteca_01.jpg" alt="" ></div>
                            <div class="vvimage_chica" id="1"><img src="/img/vv_biblioteca_02.jpg" alt="" ></div>
                        </div>
                    </div>
                    <div class="back">Volver</div>
                </div>
            </div>
        </div>
        <div class="a3">
            <div class="bp b ba" id="conozcanos" selected="1"><div class="icn icn1"><div class="icnnom">Conózcanos</div></div></div>
            <div class="bp b bb" id="propuestaeducativa" selected="0"><div class="icn icn2"><div class="icnnom">Propuesta Educativa</div></div></div>
            <div class="bp b bc" id="horarios" selected="0"><div class="icn icn3"><div class="icnnom">Horarios</div></div></div>
            <div class="bp b bd" id="contacto" selected="0"><div class="icn icn4"><div class="icnnom">Contacto</div></div></div>
            <div class="bp b be" id="page5" selected="0"><div class="icn icn5"><div class="icnnom">Tour Virtual</div></div></div>
        </div>
    </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIXenuYoczpO6oh4uzeOj11b7Nvg8zrFM&callback=initMap" async defer></script>