<div class="contlibros respdim vhalign">
    <div class="titulo">
        <div class="header vhalign">
            <div class="image"><img src="/img/hada_chica.png" /></div>
            <div class="text text1">Bilblioteca</div>
            <div class="text text2">ValleEncantado</div>
        </div>
    </div>
    <div class="form">
        <div class="inputs2 vhalign">
            <div class="list_libros_titulo">Libros Prestados</div>
            <div class="list_libros">
                <div class="cont_list_libros">
                {{if .Register}}
                    {{if or .Permisos.Admin .Permisos.Educadora}}
                        {{range .Prestamos}}
                            <div class="list_libros_item">
                                <div class="libro_item1">{{.Nombre_Alu}}</div>
                                <div class="libro_item2 valign">{{.Duration}}</div>
                                <div class="libro_item3">{{.Nombre}}</div>
                            </div>
                        {{end}}
                    {{else}}
                        {{range .Prestamos}}
                            <div class="list_libros_item">
                                <div class="libro_item1">{{.Nombre_Alu}}</div>
                                <div class="libro_item2 valign">{{.Duration}}</div>
                                <div class="libro_item3">{{.Nombre}}</div>
                            </div>
                        {{end}}
                    {{end}}
                {{else}}
                    <div class="librotitulo">Eres Apoderado?</div>
                    <div class="libroinputs">
                        <a class="enviar" href="/?login=1">Login</a>
                    </div>
                {{end}}
                </div>
            </div>
        </div>
    </div>
</div>